.main{

}

.container {
  max-width: 1170px;
  min-height: 40px;
  margin: auto;
  padding: 10px 15px;
  font-family: 'Nunito', sans-serif !important;
  font-weight: 300;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #7a9c59;
}

.subpath {
  color:#c4c1c1
}

.subpath:hover {
  color: #111111D9
}

.finalText {
  color: #111111D9
}