.main{
  background-color: #ffffff;
}

.container{
  max-width: 1170px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
}
.entry_header{
  margin: 0 0 25px;
}

.entry_header_tag{
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: #7a9c59;
  padding: 5px 10px;
  margin-right: 10px;
}

.entry_content{
  margin: 16px 0 30px;
  width: 100%;
  line-height: 1.6rem;
}

.entry_content p {
  font-weight: 390 !important;
}

.entry_content a{
  color: #1E73BE;
}

.entry_content img {
  max-width: 100%;
  object-fit:cover;
}

.entry_content .image{
  display: flex;
  justify-content: center;
}

.entry_content ul {
  padding-left: 50px !important;
}

.entry_content ul>li>p {
  margin-left: 10px;
}

.titleSection{
  color: #b20000;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin-bottom: 34px;
}

.section {
  margin-bottom: 40px;
}

.item{
  margin: 0 15px 30px;
  object-fit:cover;
  height: auto;
}

.content{
  outline: 1px solid #d5d1d1;
  display: flex;
  flex-direction: column;
}

.text{
  padding: 6px;
  text-align: center;
}

.title{
  height: 40px;
  overflow: hidden;
  line-height: 1.3rem;
  font-size: 1.2rem;
}

.post_image{
  width: 100%;
  height: 142px;
  object-fit: cover;
  border-bottom: 1px solid #d5d1d1;
}

.card:hover{
  cursor: pointer;
  transform: translate3d(0px, -10px, 0px);
  transition: color .3s,opacity .3s,transform .4s;
  box-shadow: 0 0 15px #818181;
}

.card:hover .post_time{
  color: #ffffff;
  background-color: #7a9c59;
  transition: color .3s
}

.latest_projects{
  display: flex;
  flex-direction: column;
}

.latest_projects_title{
  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.small_divider{
  margin-top: 10px;
  margin-bottom: 16px;
  width: 160px;
  border-bottom: 3px solid #dfdbdb;
}

.latest_projects_list{
  display: flex;
  flex-direction: column;
}

.latest_projects_item{
  display: flex;
  justify-content: center;
  margin: 10px 0;
  height: 60px;
}

.latest_projects_item:hover{
  cursor: pointer;
  transform: translate3d(0px, -6px, 0px);
  transition: color .3s,opacity .3s,transform .4s;
  box-shadow: 0 0 15px #818181;
}

.right_content{
  padding: 4px;
  height: 60px;
  font-size: 15px; 
  font-weight: 500;
}

.leftImage{
  padding: 4px;
  width: 60px;
}


