.main{
  background-color: #ffffff;
}

.container{
  max-width: 1170px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
}
.entry_header{
  margin: 10px 0;
}

.entry_header_tag{
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background-color: #7a9c59;
  padding: 5px 10px;
  margin-right: 10px;
}

.entry_content{
  margin: 16px 0 30px;
  width: 100%;
  line-height: 1.6rem;
  color: #333333;
}

.entry_content a{
  color: #1E73BE;
}

.entry_content img {
  max-width: 100%;
  object-fit:contain;
}

.entry_content .image{
  display: flex;
  justify-content: center;
}

.entry_content ul {
  padding-left: 50px !important;
}

.entry_content ul>li>p {
  margin-left: 10px;
} 

.preformatted{
  font-size: 13px;
  padding: 20px;
  background-color: #f1f1f1;
  font-family: monospace !important;
}

.all_courses{
  display: flex;
  flex-direction: column;
}

.all_courses_title{
  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.small_divider{
  margin-top: 10px;
  margin-bottom: 16px;
  width: 200px;
  border-bottom: 3px solid #dfdbdb;
}

.list{
  display: flex;
  flex-direction: column;
}

.course_item{
  margin: 10px 0;
  height: 60px;
}

.course_item:hover{
  cursor: pointer;
  transform: translate3d(0px, -6px, 0px);
  transition: color .3s,opacity .3s,transform .4s;
  box-shadow: 0 0 15px #818181;
}

.right_content{
  padding: 4px;
  height: 60px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
}

.leftImage{
  object-fit: cover !important;
  width: 100%;
}
