.item{
  margin: 0 15px 30px;
  object-fit:cover;
  height: auto;
}

.content{
  outline: 1px solid #d5d1d1;
  display: flex;
  flex-direction: column;
}

.text{
  padding: 6px;
  text-align: center;
}

.title{
  height: 40px;
  overflow: hidden;
  line-height: 1.3rem;
  font-size: 1.2rem;
}

.post_image{
  width: 100%;
  height: 124px;
  object-fit: cover;
  border-bottom: 1px solid #d5d1d1;;
}

.post_image img{
  width: 100% !important; /* Ảnh sẽ không vượt quá kích thước của thẻ cha */
  height: 100% !important; /* Ảnh sẽ không vượt quá kích thước của thẻ cha */
  display: block;
  object-fit: cover; /* Đảm bảo ảnh được hiển thị làm phần tử block */
}

.card:hover{
  cursor: pointer;
  transform: translate3d(0px, -10px, 0px);
  transition: color .3s,opacity .3s,transform .4s;
  box-shadow: 0 0 15px #818181;
}

.card:hover .post_time{
  color: #ffffff;
  background-color: #7a9c59;
  transition: color .3s
}